# build/editor artifacts
temp
build
cache
/out
/logs
/editor

# original game data
src
strings/font
strings/textbox
raw
/audio/**/*.*
!/audio/**/*.xml
/image/**/*.*
!/image/**/*.xml


# modified game data (for multimedia which doesn't use src/patch directories)
# (put overrides here, e.g. `!/sprite/npc/src/80` if you've changed bowser)

# Altered Images
# Examples:
!/image/assets/item/badge/MegaJump.png
!/image/assets/item/badge/MegaSmash.png
!/image/assets/ui/partner_01.png
!/image/assets/ui/partner_01_alt.png
!/image/compressed/party_kurio.png

# Altered Backgrounds
# Examples:
#* !/image/bg/aaa_bg.png


# Altered Music
# Examples:

# Altered Textures
# Examples:
#* !/image/texture/aaa_tex/*.*
#* !/image/texture/aaa_tex.txa
